/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* colours */
/* sizes */
/* breakpoints */
/*****************************************************************************/
/*
/* Site Structure
/*
/*****************************************************************************/
html, body {
  background-color: #fff; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  position: relative;
  font-size: 115%;
  color: white;
  text-align: justify;
  max-width: 80em;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  line-height: 1.5em;
  background-color: white;
  border-left: 1.25em solid #aab6dd; }
  .site:before, .site:after {
    content: " ";
    display: table; }
  .site:after {
    clear: both; }
  .site:before, .site:after {
    content: " ";
    display: table; }
  .site:after {
    clear: both; }
  .site header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 2em 0 0; }
    .site header:last-child {
      margin-right: 0; }
    .site header a {
      font-weight: bold;
      text-decoration: none; }
    .site header nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding: 0.75em 1em; }
      .site header nav:last-child {
        margin-right: 0; }
      .site header nav a {
        display: inline-block;
        width: 100%; }
    .site header .title {
      display: inline-block;
      white-space: nowrap;
      margin: 2em; }
      .site header .title a {
        font-size: 1.5625em;
        color: white; }
        .site header .title a:hover {
          color: #aab6dd; }
    .site header a.extra {
      color: white;
      margin-left: 1em; }
      .site header a.extra:hover {
        color: #aab6dd; }
  .site .meta {
    color: #d0aa31; }
  .site .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 34.11922%;
    margin-right: 0;
    padding: 3em 2em 1em;
    color: #6278bf; }
    .site .content:last-child {
      margin-right: 0; }
    .site .content h1 {
      font-size: 120%;
      border-bottom: 0.1em solid #aab6dd;
      margin-bottom: 1em;
      color: #364985; }
      .site .content h1 .btm-border {
        display: block;
        padding-bottom: 0.5em;
        border-bottom: 0.1em solid #8697ce; }
    .site .content article {
      margin-top: 1em;
      padding: 1em 0; }
      .site .content article h1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 0.75em;
        background-color: #f3f5fa;
        border: none;
        border-left: 0.25em solid #6278bf;
        font-size: 100%;
        margin-bottom: 1em;
        color: #364985; }
        .site .content article h1:last-child {
          margin-right: 0; }
        .site .content article h1 i {
          margin-left: 1em;
          color: #6278bf; }
        .site .content article h1 span {
          padding: 0;
          border: none; }
      .site .content article .date {
        margin-left: 1em;
        font-size: 90%;
        color: #6278bf; }
      .site .content article a {
        text-decoration: none;
        color: #364985; }
        .site .content article a.more {
          margin-left: 0.75em;
          font-weight: 600; }
        .site .content article a:hover {
          color: #6278bf; }
    .site .content p a {
      color: #6278bf;
      text-decoration: none;
      font-weight: 600; }
      .site .content p a:hover {
        color: #d0aa31;
        text-decoration: underline; }
    .site .content blockquote {
      color: white;
      background-color: #aab6dd;
      border: 1px solid #6278bf;
      padding: 1em; }
    .site .content .highlight {
      background-color: #fbf7ec;
      padding: 1em;
      border: 1px solid #e3cc84; }
      .site .content .highlight .lineno {
        color: #a88826; }
  .site .sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #7e8dbd;
    border-left: 1.25em solid #8697ce; }
    .site .sidebar:last-child {
      margin-right: 0; }
    .site .sidebar ul {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-top: 1.5em; }
      .site .sidebar ul:last-child {
        margin-right: 0; }
      .site .sidebar ul li {
        list-style: none;
        padding-left: 2em; }
        .site .sidebar ul li a {
          margin-left: 1em;
          color: white;
          text-decoration: none; }
          .site .sidebar ul li a:hover {
            color: #aab6dd; }
    .site .sidebar footer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-top: 3em;
      position: relative;
      height: 20em;
      bottom: 0;
      padding: 1em 2em;
      font-size: 80%;
      color: white;
      border-top: 4px solid #8697ce; }
      .site .sidebar footer:last-child {
        margin-right: 0; }
    .site .sidebar footer .contact {
      float: left;
      margin-right: 3em;
      font-size: 110%; }
      .site .sidebar footer .contact span {
        display: inline-block;
        white-space: nowrap; }
        .site .sidebar footer .contact span i {
          padding-right: 1em; }
    .site .sidebar footer .contact a {
      color: white;
      text-decoration: none; }
      .site .sidebar footer .contact a:hover {
        color: #aab6dd; }
    .site .sidebar footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right; }
    .site .sidebar footer .rss img {
      border: 0; }
  @media screen and (max-width: 780px) {
    .site header nav {
      background-color: #8697ce; }
      .site header nav a {
        width: auto; }
    .site .content {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%;
      margin-left: 0%;
      padding-bottom: 20em; }
      .site .content:last-child {
        margin-right: 0; }
    .site .sidebar {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%;
      position: static; }
      .site .sidebar:last-child {
        margin-right: 0; }
      .site .sidebar ul {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        padding-right: 3em; }
        .site .sidebar ul li {
          display: inline-block; }
          .site .sidebar ul li a {
            margin-left: 0.45em; }
      .site .sidebar footer {
        position: absolute;
        bottom: 0;
        background-color: #7e8dbd;
        margin-left: -1.50em; } }
  @media screen and (max-width: 500px) {
    .site {
      min-width: 380px;
      border: none; }
      .site .sidebar {
        border: none; }
        .site .sidebar footer {
          margin: 0; }
      .site .content {
        padding: 2em 0 21em; }
        .site .content h1 .btm-border i {
          margin-left: 1.65em; }
        .site .content h2 {
          margin-left: 1.65em; }
        .site .content article h1 {
          border: 0; }
          .site .content article h1 a {
            margin-left: 1em; }
        .site .content p {
          padding: 0 1.75em; }
        .site .content blockquote {
          background-color: #aab6dd;
          border: none;
          border-top: 1px solid #6278bf;
          border-bottom: 1px solid #6278bf;
          padding: 1.75em; }
          .site .content blockquote p {
            padding: 0;
            margin: 0; }
        .site .content .highlight {
          padding: 1em 1.75em;
          border: none;
          border-top: 1px solid #e3cc84;
          border-bottom: 1px solid #e3cc84; } }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post ul, .post ol {
  margin-left: 1.35em; }

/*****************************************************************************/
/*
/* Work Examples
/*
/*****************************************************************************/
.site .content .example {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .site .content .example:last-child {
    margin-right: 0; }
  .site .content .example ul {
    padding: 0; }
    .site .content .example ul li {
      list-style: none;
      padding: 0;
      margin: 0; }
  .site .content .example .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 2.35765%;
    padding-left: 0; }
    .site .content .example .column:last-child {
      margin-right: 0; }
  .site .content .example.example-print ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .site .content .example.example-print ul li:last-child {
      margin-right: 0; }
    .site .content .example.example-print ul li:nth-child(4n) {
      margin-right: 0; }
    .site .content .example.example-print ul li:nth-child(4n+1) {
      clear: left; }

/*# sourceMappingURL=main.css.map */
