<footer>
  <div class="contact">
    <p>
    <i class="fa fa-male"></i><span>{{ site.data.config.owner }}</span><br />
    <i class="fa fa-laptop"></i><span>{{ site.data.config.position }}</span><br />
    <i class="fa fa-envelope"></i><span>{{ site.data.config.email }}</span>
    </p>
  </div>
  <div class="contact">
    <p>
      <i class="fa fa-github"></i><span><a href="https://{{ site.data.config.github }}">{{ site.data.config.github }}</a></span><br />
      <i class="fa fa-twitter"></i><span><a href="https://{{ site.data.config.twitter }}">{{ site.data.config.twitter }}</a></span><br />
      <i class="fa fa-linkedin"></i><span><a href="{{ site.data.config.linkedin }}">Stephen Hukish</a></span><br />
    </p>
  </div>
</footer>
