<footer role="footer">
  <div class="contact">
    <p>
    <span><i class="fa fa-male"></i>{{ site.data.config.owner }}</span><br />
    <span><i class="fa fa-laptop"></i>{{ site.data.config.position }}</span><br />
    <span><i class="fa fa-envelope"></i><a href="mailto:{{ site.data.config.email }}">{{ site.data.config.email }}</a></span>
    </p>
  </div>
  <div class="contact">
    <p>
      <span><i class="fa fa-github"></i><a href="https://{{ site.data.config.github }}">{{ site.data.config.github }}</a></span><br />
      <span><i class="fa fa-twitter"></i><a href="https://{{ site.data.config.twitter }}">{{ site.data.config.twitter }}</a></span><br />
      <span><i class="fa fa-linkedin"></i><a href="{{ site.data.config.linkedin }}">Stephen Hukish</a></span><br />
    </p>
  </div>
</footer>
