/* colours */
$primary-blue: #6278BF;
$darker-primary: darken( $primary-blue, 20% );
$lighter-primary: lighten( $primary-blue, 10% );
$lightest-primary: lighten( $primary-blue, 20% );
$off-white-primary: lighten( $primary-blue, 40% );
$primary-complement: #E3CC84;
$darkest-complement: darken( $primary-complement, 30% );
$darker-complement: darken( $primary-complement, 20% );
$lighter-complement: lighten( $primary-complement, 25% );
$left_back: lighten( desaturate( $primary-blue, 10% ), 5% );
$right_back: #fff;

$primary_side_font_color: #fff;
$primary_side_font_color_hover: $lightest-primary;

/* sizes */
$site_width: 80em;
$large_header_size: dynamic_font_size(1.25em);
$large_header_size_mobile: dynamic_font_size(1.25em);

/* breakpoints */
$small: new-breakpoint(max-width 780px 6);
$mobile: new-breakpoint(max-width 500px 6);
