@import 'reset';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'functions';
@import 'variables';

/*****************************************************************************/
/*
/* Site Structure
/*
/*****************************************************************************/

html, body {
  background-color: #fff;
  // width: 100%;
  // height: 100%;

}

// html {
//   overflow: hidden;
// }
//
// body {
//   position: absolute;
//   overflow: auto;
// }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  @include outer-container;
  @include clearfix;
  position: relative;
  font-size: 115%;
  color: $primary_side_font_color;
  text-align: justify;
  max-width: $site_width;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  line-height: 1.5em;
  background-color: $right_back;
  border-left: 1.25em solid $lightest-primary;

  header {

    @include span-columns(12);
    padding: 2em 0 0;

    a {
      font-weight: bold;
      text-decoration: none;
    }

    nav {
      @include span-columns(12);
      padding: 0.75em 1em;

      a {
        display: inline-block;
        width: 100%;
      }

    }

    .title {
      display: inline-block;
      white-space: nowrap;
      margin: 2em;

      a {
        font-size: $large_header_size;
        color: $primary_side_font_color;
        &:hover {
          color: $primary_side_font_color_hover;
        }
      }
    }

    a.extra {
      color: $primary_side_font_color;
      margin-left: 1em;

      &:hover {
        color: $primary_side_font_color_hover;
      }
    }

  }

  .meta {
    color: $darker-complement;
  }

  .content {
    @include span-columns(8);
    @include shift(4);
    @include omega();
    padding: 3em 2em 1em;
    color: $primary-blue;

    h1 {
      font-size: 120%;
      border-bottom: 0.10em solid $lightest-primary;
      margin-bottom: 1em;
      color: $darker-primary;

      .btm-border {
        display: block;
        padding-bottom: 0.5em;
        border-bottom: 0.10em solid $lighter-primary;
      }
    }

    article {
      margin-top: 1em;
      padding: 1em 0;

      h1 {
        @include span-columns(12);
        padding: 0.75em;
        background-color: $off-white-primary;
        border: none;
        border-left: 0.25em solid $primary-blue;
        font-size:100%;
        margin-bottom: 1em;
        color: $darker-primary;

        i {
          margin-left: 1em;
          color: $primary-blue;
        }

        span {
          padding: 0;
          border: none;
        }

      }

      .date {
          margin-left: 1em;
          font-size: 90%;
          color: $primary-blue;

      }

      a {
        text-decoration: none;
        color: $darker-primary;
        &.more {
          margin-left: 0.75em;
          font-weight: 600;
        }
        &:hover {
          color: $primary-blue;
        }
      }
    }

    p {
      a {
        color: $primary-blue;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          color: $darker-complement;
          text-decoration: underline;
        }
      }
    }

    blockquote {
      color: $primary_side_font_color;
      background-color: $lightest-primary;
      border: 1px solid $primary-blue;
      padding: 1em;
    }

    .highlight {
      background-color: $lighter-complement;
      padding: 1em;
      border: 1px solid $primary-complement;
      .lineno {
        color: $darkest-complement;
      }
    }

  }

  .sidebar {
    @include span-columns(4);
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    background-color: $left_back;
    border-left: 1.25em solid $lighter-primary;

    ul {
      @include span-columns(12);
      margin-top: 1.5em;

      li {
        list-style: none;
        padding-left: 2em;

        a {
          margin-left: 1em;
          color: $primary_side_font_color;
          text-decoration: none;

          &:hover {
            color: $primary_side_font_color_hover;
          }

        }

      }
    }

    footer {
      @include span-columns(12);
      margin-top: 3em;
      position: relative;
      height: 20em;
      bottom: 0;
      padding: 1em 2em;
      font-size: 80%;
      color: $primary_side_font_color;
      border-top: 4px solid $lighter-primary;
    }

    footer .contact {
      float: left;
      margin-right: 3em;
      font-size: 110%;

      span {
        display: inline-block;
        white-space: nowrap;
        i {
          padding-right: 1em;
        }

      }

    }

    footer .contact a {
      color: $primary_side_font_color;
      text-decoration: none;
      &:hover {
        color: $primary_side_font_color_hover;
      }
    }

    footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

    footer .rss img {
      border: 0;
    }

  }


  @include media($small) {

    header {
      nav {
          background-color: $lighter-primary;
          a {
            width: auto;
          }
      }
    }

    .content {
      @include span-columns(6);
      @include shift(0);
      padding-bottom: 20em;
    }

    .sidebar {
      @include span-columns(6);
      position: static;

      ul {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        padding-right: 3em;

        li {
          display: inline-block;
          a {
            margin-left: 0.45em;
          }
        }
      }

      footer {
        position: absolute;
        bottom: 0;
        background-color: $left_back;
        margin-left: -1.50em;
      }

    }
  }


  @include media($mobile) {

    min-width: 380px;
    border: none;

    .sidebar {
      border: none;

      footer {
        margin: 0;
      }
    }

    .content {
      padding: 2em 0 21em;

       h1 {
          .btm-border {
            i {
              margin-left: 1.65em;
            }
          }
        }

      h2 {
        margin-left: 1.65em;
      }

      article {
          h1 {
            border: 0;
            a {
              margin-left: 1em;
            }

          }

      }

      p {
        padding: 0 1.75em;
      }

      blockquote {
        background-color: $lightest-primary;
        border: none;
        border-top: 1px solid $primary-blue;
        border-bottom: 1px solid $primary-blue;
        padding: 1.75em;

        p {
          padding: 0;
          margin: 0;
        }
      }

      .highlight {
        padding: 1em 1.75em;
        border: none;
        border-top: 1px solid $primary-complement;
        border-bottom: 1px solid $primary-complement;
      }

    }


    // .content {
    //   @include span-columns(6);
    //   @include shift(0);
    //   padding-bottom: 20em;
    // }
    //
    // .sidebar {
    //   @include span-columns(6);
    //   position: static;
    //
    //   footer {
    //     position: absolute;
    //     bottom: 0;
    //     background-color: $left_back;
    //     margin-left: -1.50em;
    //   }
    //
    // }

  }

}




/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post ul, .post ol {
  margin-left: 1.35em;
}



/*****************************************************************************/
/*
/* Work Examples
/*
/*****************************************************************************/

.site {
  .content {
    .example {
      @include span-columns(12);

      ul {
        padding: 0;
        li {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }

      .column {
        @include span-columns(6);
        @include pad();
        padding-left: 0;

        &.column-left {
        }

        &.column-right {
        }

      }

      &.example-print {
        ul {
          li {
            @include span-columns(3);
            @include omega(4n);
          }
        }
      }

    }
  }
}
